<div class="container">
    <div class="row">
        <div class="col-lg-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus vitae minus, ducimus qui necessitatibus dolorem asperiores minima consequatur et perferendis assumenda excepturi illo similique fugit maxime, consectetur ratione expedita.
        </div>
        <div class="col-lg-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus vitae minus, ducimus qui necessitatibus dolorem asperiores minima consequatur et perferendis assumenda excepturi illo similique fugit maxime, consectetur ratione expedita.
        </div>
        <div class="col-lg-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus vitae minus, ducimus qui necessitatibus dolorem asperiores minima consequatur et perferendis assumenda excepturi illo similique fugit maxime, consectetur ratione expedita.
        </div>
    </div>
</div>